<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Challenge RPG</title>
  <link rel="stylesheet" href="/css/rpg.css">
</head>
<body>
  <div id="board"></div>
  <nav>
    <h1>
      <a href="/">GameHub</a>
    </h1>

  </nav>
  
  <script src="./../public/js/app.js" charset="utf-8"></script>
  <%- include('./partial/footer.ejs') %>
