<%- include('./partial/head.ejs') %>

<header>
    <h1>
      <a href="/">GameHub</a>
    </h1>
    <nav>
     
    <ul>
       
      <li class="playGame"> <a href="/game/diceRoller">Cliquez ici pour jouer a Dice Roller ! </a> </li>
      <li class="playGame"> <a href="/game/fourchette">Cliquez ici pour jouer au jeu de la Fourchette ! </a> </li>
 
    </ul>
    </nav>
  </header>

  <main>
    <h3>Index</h3>

  </main>

  
<%- include('./partial/footer.ejs') %>